body {
  background-color: rgb(41, 40, 40);
  color: rgb(196, 193, 193);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-image: url("./assets/mf-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.navigation-bar {
  width: 900px;
  height: 40px;
  display: flex;
  padding: 0 25px;
  box-sizing: border-box;
}

.navigation-bar a {
  color: white;
  text-decoration: none;
  background-color: rgba(95, 95, 95, 0.4);
  flex: 1;
  text-align: center;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  margin-right: 5px;
  box-sizing: border-box;
}

.components {
  height: auto;
}

.component {
  width: 845px;
  background-color: rgba(95, 95, 95, 0.4);
  border-radius: 0 0 10px 10px;
  margin-left: 25px;
  padding: 20px;
  box-sizing: border-box;
  text-transform: capitalize;
}

.no-transform {
  text-transform: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
.navigation-bar a:hover {
  color: yellow;
}

@media only screen and (max-width: 900px) {
  .navigation-bar {
    height: auto;
    width: auto;
    flex-direction: column;
    padding: 0;
  }

  .navigation-bar a {
    border-radius: 0;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
  }

  .component {
    width: auto;
    background-color: rgba(95, 95, 95, 0.4);
    border-radius: 10px;
    margin: 0;
  }
}
